*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --content-width: 1000px;
}

/* containers */
.content-container {
    max-width: var(--content-width);
    margin: 0 auto;
}

.section-dark {
    background-color: #555;
    color: white;
}

.section-light-grey {
    background-color: #e5e5e5;
}

/* nav-list */
.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    margin-bottom: 8px;
}

.nav-list-link {
    display: block;
    padding: 8px;
    color: inherit;
}

