:root {
    --content-width: 900px;
    --hero-image-height: 300px;
    --column-gap: 20px;
}

.hero-fullwidth {
    display: grid;
    grid-template-columns: auto minmax(auto,var(--content-width)) auto;
    background-color: white;
}

.hero-fullwidth .content-container {
    display: grid;
    grid-gap: var(--column-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px calc(var(--hero-image-height) * 0.6) auto;

    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 20px;

    grid-row: 1;
    grid-column: 2 / span 1;
}

.hero-fullwidth .hero-image {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    height: calc(400px + var(--hero-image-height) * 0.6 + var(--column-gap) * 1);

    background-color: #f8f8f8;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    border-radius: 0;
}

.hero-fullwidth .hero-content {
    grid-column: 1 / span 12;
    grid-row: -1;
    padding: 20px;
}

.hero-fullwidth .hero-phone-container {
    grid-column: 1 / span 12;
    grid-row: 2 / span 2;
    z-index: 10;
    justify-self: center;
}

 .hero-fullwidth .hero-phone {
     position: relative;
    border-radius: 20px;
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.4), 0 0 0 8px black;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    background-color: white;
    width: 150px;
    height: 300px;
}

.hero-fullwidth .hero-phone:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 60px;
    height: 10px;
    border-radius: 0 0 4px 4px;
    background-color: black;
    content: '';
}

.hero-fullwidth .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}

.hero-fullwidth .hero-image:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
    z-index: 5;
    content: '';
    display: block;
}

/* Hero texts */
.hero-fullwidth .hero-headline {
    max-width: 90%;
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
}

.hero-fullwidth .hero-lead {
    font-size: 1.8rem;
    line-height: 1.5;
}

@media (min-width: 700px) {
    :root {
        --hero-image-height: 400px;
    }

    .hero-fullwidth .hero-content {
        grid-column: 1 / span 7;
        grid-row: 3;
    }

    .hero-fullwidth .hero-phone-container {
        grid-column: 8 / span 4;
        grid-row: span 2 / -1;
    }

    .hero-fullwidth .hero-phone {
        width: 200px;
        height: 400px;
    }    
}
