*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --content-width: 1000px;
    --hero-image-height: 300px;
    --column-gap: 20px;
}

.hero-card {
    background-color: white;
}

.hero-card .content-container {
    display: grid;
    grid-gap: var(--column-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px calc(var(--hero-image-height) * 0.6) auto;
    grid-auto-rows: auto;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 20px;
}

.hero-card .hero-image {
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    background-color: #f8f8f8;
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/brooke-cagle-tLG2hcpITZE-unsplash.jpg);
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3)), url(../images/brooke-cagle-tLG2hcpITZE-unsplash.jpg); */
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 6px;

    overflow: hidden;
}

.hero-card .hero-image:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
    z-index: 5;
    content: '';
    display: block;
}

.hero-card .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;    
}

.hero-card .hero-content {
    grid-column: 1 / span 12;
    padding: 20px;
}

.hero-card .hero-phone-container {
    grid-column: 1 / span 12;
    grid-row: 2 / span 2;
    z-index: 10;
    justify-self: center;

    perspective: 1000px;
}

/* Phone */
.hero-card .hero-phone {
    position: relative;
    
    border-radius: 20px;
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.4), -3px -2px 0 2px #000000, -5px -2px 0 3px #ffffff59, 0 0 0 10px black, 5px 0 0 10px black;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    background-color: white;
    width: 150px;
    height: 300px;

    transform: rotateY(-34deg) rotateZ(15deg) rotateX(5deg);
}

.hero-card .hero-phone:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 60px;
    height: 10px;
    border-radius: 0 0 4px 4px;
    background-color: black;
    content: '';
}

.hero-card .hero-phone:after {
    position: absolute;
    z-index: -1;
    bottom: 30px;
    right: -0%;
    display: block;
    width: 50%;
    height: 80%;
    border-radius: 0 50% 20% 0;
    box-shadow: 0 15px 20px 20px rgba(0,0,0,0.4), 0 0 20px 50px rgba(0,0,0,0.2);
    content: '';

    transform: rotateZ(-5deg);
}

/* Hero texts */
.hero-card .hero-headline {
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
}

.hero-card .hero-lead {
    font-size: 1.8rem;
    line-height: 1.5;
}

@media (min-width: 700px) {
    :root {
        --hero-image-height: 400px;
    }

    .hero-card .hero-content {
        grid-column: 1 / span 7;
    }

    .hero-card .hero-phone-container {
        grid-column: 8 / span 4;
        grid-row: span 2 / -1;
    }

    .hero-card .hero-phone {
        width: 200px;
        height: 400px;
    }
}
