*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --content-width: 1000px;
    --hero-image-height: 480px;
    --column-gap: 20px;
    --phone-height: 300px;
    --overlap-percentage: 0.6;
}

/* General 12 column content grid, we can reuse this class with other components */
.content-grid {
    grid-column: 2 / span 1;
    display: grid;
    grid-gap: var(--column-gap);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: calc(var(--hero-image-height) - var(--overlap)) var(--overlap) auto;
}

.hero {
    /* Calculate overlap size */
    --overlap: calc(var(--phone-height) * var(--overlap-percentage));

    display: grid;
    /*
        the first and last column will be at least 20px wide, this will give us space on mobile
        the middle column will be as much as the content, but no more than the width we have set, in this case 1120px
    */
    grid-template-columns: minmax(20px, 1fr) minmax(min-content, var(--content-width)) minmax(20px, 1fr);
    margin-bottom: 60px;
}

.hero-image {
    position: relative;
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    border-radius: 6px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.hero-image:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
    z-index: 5;
    content: '';
    display: block;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;    
}

/* Hero content */
.hero-text-content {
    grid-column: 1 / span 12;
    padding: 20px 0;
}

/* Hero texts */
.hero-headline {
    max-width: 90%;
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
}

.hero-lead {
    font-size: 1.8rem;
    line-height: 1.5;
}

.hero-phone-container {
    grid-column: 1 / span 12;
    grid-row: 2 / span 2;
    z-index: 10;
    justify-self: center;

    perspective: 1000px;
}

/* Phone */
.hero-phone {
    width: 150px;
    height: var(--phone-height);
}

@media (min-width: 700px) {
    :root {
        --hero-image-height: 400px;
        --phone-height: 400px;
        --overlap-percentage: 0.3;
    }

    .hero-text-content {
        grid-column: 1 / span 7;
        grid-row: 3;
    }

    .hero-phone-container {
        grid-column: 8 / span 4;
        grid-row: span 2 / -1;
    }

    .hero-phone {
        width: 200px;
    }
}
