*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content-grid {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(min-content, var(--content-width)) minmax(20px, 1fr);
}

.content-grid > * {
    grid-column: 2 / span 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.grid h1 {
    grid-column: 1/-1;
}

.grid ol {
    grid-column: 1/-1;
}

/* general containers */
.page {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.section-light-grey {
    background-color: #e5e5e5;
}

/* List of demo links */
.nav-list {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.nav-list-item {
    margin-bottom: 8px;
}

.nav-list-link {
    padding: 8px;
    color: inherit;
}

@media  (min-width:700px) {
    .grid h1 {
        grid-column: 2/span 8;
    }

    .grid ol {
        grid-column: 2/-2;
    }
}