.content-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 1fr;

    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    background-color: white;
}

.hero-image {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    background-color: #f8f8f8;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/brooke-cagle-tLG2hcpITZE-unsplash.jpg);
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3)), url(../images/brooke-cagle-tLG2hcpITZE-unsplash.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.hero-content {
    grid-column: 2 / span 6;
}

.hero-phone-container {
    grid-column: 9 / span 4;
    grid-row: span 2 / -1;
    z-index: 10;
}

.hero-phone {
    border-radius: 20px;
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.4), 0 0 0 8px black;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    background-color: white;
    width: 200px;
    height: 400px;

}

.hero-headline {
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
}

.hero-lead {
    font-size: 1.8rem;
    line-height: 1.5;
}

/* full width image */
.hero--fullwidth {
    display: grid;
    grid-template-columns: 1fr minmax(auto,900px) 1fr;
}

.hero--fullwidth .hero-image {
    position: relative;
    grid-column: 1 / -1;
    height: 440px;
    background-position: center 40%;
    border-radius: 0;
}

.hero--fullwidth .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}

.hero--fullwidth .hero-image:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 105, 180, 0.3), rgba(255, 105, 180, 0.3));
z-index: 5;
content: '';
display: block;
}

.hero--fullwidth .hero-content {
    grid-row: 3;
}

.hero--fullwidth .content-container {
    grid-row: 1;
    grid-column: 2 / span 1;
}
